@import "tailwindcss";
@plugin "daisyui";

.mirror {
  -webkit-box-reflect: below 0.5em
    linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.25));
}
.visi-bg-img {
  background: url("assets/hero_image.png");
  background-size: cover;
  background-position: center;
}
@media (max-width: 465px) {
  .visi-bg-img {
    background: linear-gradient(rgb(246, 233, 255, 0.7), rgb(246, 233, 255, 0.7)), url('./assets/mobile-bg-3.jpg');
    background-size: cover;
    background-position: left bottom;
  }
}
@keyframes fadeIn {
    from{opacity: 0}
    to{opacity: 1}
}
.fadeIn{
    animation: fadeIn 0.7s forwards;
}
body{
  font-family: "Poppins"
}
/* Tailwind Classes */
@layer components {
  /* NAVBAR */
  .visi-navbar {
    @apply justify-between fixed z-10 top-0 w-full transition-all duration-500;
  }
  .visi-bg {
    @apply bg-gradient-to-bl from-purple-100 to-fuchsia-300 shadow;
  }
  .visiButton {
    @apply bg-fuchsia-700 shadow-md shadow-fuchsia-800/60 text-white
        hover:bg-fuchsia-600 hover:text-white active:translate-0 active:shadow-fuchsia-800 active:shadow-sm
        py-2 px-3 
        -translate-y-0.5
        rounded-md 
        text-sm font-bold
        transition-all duration-[.3s];
  }
  .visiButton-outline {
    @apply bg-blend-normal border-2 border-fuchsia-500 text-fuchsia-500
        hover:bg-fuchsia-500 hover:text-white
        py-2 px-3 
        rounded-md 
        text-sm font-bold
        transition-all duration-[.3s];
  }
  .visiButton-ghost {
    @apply bg-transparent border border-fuchsia-600 text-fuchsia-600 shadow-md shadow-fuchsia-600/40
        hover:bg-fuchsia-600 hover:text-white active:shadow-fuchsia-800 active:shadow-sm active:translate-y-0
        transition-all duration-[.3s]
        py-2 px-3 
        rounded-md 
        -translate-y-0.5
        text-sm font-bold;
  }
  .visiIconBtn {
    @apply relative
        border-2 border-fuchsia-600 text-fuchsia-600 
        hover:text-white
        w-10 h-10 z-10
        rounded-full
        overflow-hidden;
  }
  .visiIconBtn svg,
  .visiIconBtn i {
    @apply absolute top-1/2 left-1/2 -translate-1/2 z-10 pointer-events-none;
  }
  .visiIconBtn::before {
    @apply absolute content-[''] bg-fuchsia-600 w-full h-full 
        top-0 left-0 scale-0 transition-transform duration-300 rounded-full;
  }
  .visiIconBtn:hover::before {
    @apply scale-105;
  }

  .visiIconInvert {
    @apply relative
        border-2 border-slate-200 text-slate-200 
        hover:text-fuchsia-600
        w-10 h-10 z-10
        rounded-full max-sm:border-fuchsia-600 max-sm:text-fuchsia-600 max-sm:hover:text-white;
  }
  .visiIconInvert svg,
  .visiIconInvert i {
    @apply absolute top-1/2 left-1/2 -translate-1/2 z-10 pointer-events-none;
  }
  .visiIconInvert::before {
    @apply absolute content-[''] bg-slate-200 w-full h-full 
        top-0 left-0 scale-0 transition-transform duration-300 rounded-full max-sm:bg-fuchsia-600;
  }
  .visiIconInvert:hover::before {
    @apply scale-105;
  }
  /* Navbar */

  /* utilities */
  .flex-container {
    @apply flex justify-evenly;
  }
  .flex-center {
    @apply flex justify-center;
  }
  .flex-between {
    @apply flex justify-between;
  }
  .visi-section{
    @apply my-18 max-sm:my-10 min-h-screen text-black
  }
  .visi-container{
    @apply mx-44 max-sm:mx-4
  }
  /* Hero */
  .heading{
    @apply text-7xl tracking-tight font-extrabold max-sm:text-3xl;
  }
  .hero-paragraph{
    @apply w-xl text-xl py-6 max-sm:w-auto max-sm:text-sm max-sm:py-3;
  }
  .visi-bg-img {
    /* @apply bg-[url(./assets/hero_image.png)] max-sm:bg-[url(./assets/mobile-bg-4.jpg)]; */
  }
  /* Hero */

  /* About us */
  .subheading{
    @apply font-extrabold text-5xl mb-2 tracking-tighter bg-gradient-to-br from-purple-700 via-fuchsia-600 to-fuchsia-400 text-transparent bg-clip-text max-sm:text-4xl;
  }
  .subtitle{
    @apply font-bold text-4xl mb-2 tracking-tighter bg-gradient-to-br from-purple-700 via-fuchsia-600 to-fuchsia-400 text-transparent bg-clip-text
  }
  .paragraph{
    @apply mb-3 text-justify max-sm:text-xs
  }
  .visi-divider{
    @apply flex text-center items-center justify-center my-10 rounded-2xl shadow bg-fuchsia-600 text-white h-20 text-2xl font-semibold font-mono max-sm:text-sm max-sm:my-4
  }
  .quote{
    @apply text-4xl font-bold font-serif italic leading-12 max-sm:text-sm max-sm:leading-4
  }
  .quoter{
    @apply text-2xl font-serif italic text-right mt-5 max-sm:text-base max-sm:mt-2
  }
  /* About us */

  /* Services */
  .service-card{
    @apply shadow-black/30 shadow-md bg-gradient-to-b from-fuchsia-600 to-fuchsia-400 transition-colors duration-[0.3s] rounded-2xl p-2
  }
  .carousel-container{
    @apply relative overflow-y-hidden
  }
  .carousel-container:hover > .carousel-details{
    @apply translate-y-0
  }
  .carousel-details{
    @apply indent-2.5 absolute top-0 left-0 p-3 bg-fuchsia-800/90 h-full text-white translate-y-[100%] transition-transform duration-200 ease-in
  }
  /* Services */

  /* utilities */

}
